body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 2em;
}

button {
  padding: 1em 2em;
  font-size: 1.2em;
  margin-top: 20px;
  cursor: pointer;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 8px;
}

button:hover {
  background-color: #0b7dda;
}

footer {
  margin-top: 40px;
  color: #777;
}